
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
html {
    background-color: lightblue;
    text-align: center;
    margin-top: 20px;
}
caption{ width: 300px;}

img {
    width: 500px;
}

.sorok {
    width: 1000px;
}

#bivaly {
    width: 300px;
}

.menu :hover {
    background-color: blue;
    border: 1px solid darkblue;
    color: skyblue;
    
}

.button {
    background-color: skyblue;
    margin: 10px;
    padding: 10px 20px;
    color: black;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: -2px 1px 5px skyblue;
}
